@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* .logreg {
  box-sizing: border-box;
}
.login_bg{
  backdrop-filter: (10px);
}
body .logreg {
   background-image: url("./images/background12.jpg"); 
   /* height: 100vh;
   width: 100vw; */
  backdrop-filter: blur(15px);
  background-color: #49476c; 
  /* background: linear-gradient(309deg, 
  rgba(7,13,89,1) 10%, 
  rgba(41,5,52,1) 38%, 
  rgba(2,0,36,1) 66% 
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.bg-image {
  /* The image used */
  background-image: url("./images/StartGame.png");
  /* Add the blur effect */
  position: relative;
  /* Full height */
  z-index: -1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
