@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* .logreg {
  box-sizing: border-box;
}

body .logreg {
  background-image: url("./images/SignInBG.png");
  background-color: #49476c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.bg-image {
  /* The image used */
  background-image: url("./images/StartGame.png");
  /* Add the blur effect */
  position: relative;
  /* Full height */
  z-index: -1;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
